.title {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.paragraph{
    text-align: center;
    color: #fff;
    line-height: 1.5rem;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3rem;
}

@media screen and (min-width: 1440px){
    .header{
        width: 50%;
    }
    .title{
        text-align: left;
        font-size: 45px;
        font-weight: 700;
    }
    .paragraph{
        text-align: left;
        font-size: 20px;
    }
}