:root {
    /* primery */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* accent */
    --blue: hsl(248, 32%, 49%);

    /* neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

@font-face{
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: url('../images/bg-intro-mobile.png') var(--red);
    background-repeat: no-repeat;
    padding: 4rem 1rem;
}

@media screen and (min-width: 1440px){
    body{
        display: flex;
        align-items: center;
        gap: 5rem;
        font-family: url('../images/bg-intro-desktop.png');
        padding: 6rem 8rem;
    }
    footer{
        display: none;
    }
}